*
!.gitignore

!confs/
!confs/**/

!docker/
!docker/**/
!docker/**/*

!.dockerignore

!.editorconfig

!README.md

!sample.env

!bootstrap.sample.conf
!bootstrap.sh

!docker-compose.yml
!docker-compose.override-sample.yml
